.navbar {
    background-color: #2d2b2b;
}
.navbar-brand {
    background-color: white;
    hight: 6.625rem;
    width: 7.62rem;

}
.logo {
    padding: 1rem 1.25rem;

}
.section1 {
    background-color: #3a0a1d;
}
.text3 {
    color: white;
    font-family: 'lacuna_regularregular';
}
.bi-circle-fill {
    color: #f0bd01 !important;
}
@font-face {
    font-family: 'lacuna_regularregular';
    src: url('../fontface/Lacuna-Regular-fontfacekit/web fonts/lacuna_regular_macroman/lacuna-webfont.eot');
    src: url('../fontface/Lacuna-Regular-fontfacekit/web fonts/lacuna_regular_macroman/lacuna-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fontface/Lacuna-Regular-fontfacekit/web fonts/lacuna_regular_macroman/lacuna-webfont.woff2') format('woff2'),
    url('../fontface/Lacuna-Regular-fontfacekit/web fonts/lacuna_regular_macroman/lacuna-webfont.woff') format('woff'),
    url('../fontface/Lacuna-Regular-fontfacekit/web fonts/lacuna_regular_macroman/lacuna-webfont.ttf') format('truetype'),
    url('../fontface/Lacuna-Regular-fontfacekit/web fonts/lacuna_regular_macroman/lacuna-webfont.svg#lacuna_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.nav-link {
    font-family: 'lacuna_regularregular';
    font-size: 2.25rem;
}
